<div class="row">
  <div class="col-lg-12">
    <h1>顧客詳細</h1>
    <dl>
      <dt>お名前</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @hiyoko.full_name %></dd>
      <dt>電子メール</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @hiyoko.email %></dd>
    </dl>
    <%= link_to '編集', edit_hiyoko_path(@hiyoko), class: "btn btn-default" %>
    <%= link_to '戻る', hiyokos_path, class: "btn btn-default" %>

    <hr>

    <div class="row">
      <div class="col-lg-12">
        <h2>投稿一覧</h2>
        <% @comments.each do |comment| %>
        <div class="media">
          <div class="media-left">
            <%= image_tag comment.user.image_url, class:"media-object", width: 64 %>
          </div>
          <div class="media-body">
            <p><%= comment.user.full_name %></p>
            <%= simple_format(comment.body) %>
            <p class="text-muted">
              投稿日時：<%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>
              <%= link_to "削除する", comment_path(comment), method: :delete %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <%= form_with model: @comment, url: { controller: :comments, action: :create } do |form| %>
        <div class="form-group">
          <%= form.label :body , 'コメント' %><br>
          <%= image_tag current_user.image_url, class: 'media-object', width: 64 %>
          <br>
          <%= form.text_area :body, class: "form-control" %>
        </div>
        <%= form.hidden_field :hiyoko_id, value: @hiyoko.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
